/* variables */
:root{
  --main-color:#10cab7;
  --secondary-color:#2c4755;
}
/* global rules */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
  }
  body {
    font-family: "Work Sans", sans-serif;
  }
  .container {
   padding: 0 15px;
   margin: 0 auto ;
  }
  ul{
    list-style: none;
  }
  /* Small */
  @media (min-width: 768px) {
    .container {
      width: 720px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 960px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1140px;
    }
  }
  /* End Global Rules */
  .section-heading {
    color:#ebeced;
    font-size: 90px;
    font-weight: 800;
    text-align: center;
    margin: 0;
    letter-spacing: -3px;
  }
  .section-heading +p{
    text-align: center;
    color: #797979;
    margin: -30px 0 0;
    font-size: 18px;
  }
  @media (max-width: 767px) {
    .section-heading{
      font-size: 60px;
    }
    .section-heading +p{
      margin: -20px 0 0;
      font-size: 14px;
    }
  }
  /* header */
  header{
    padding: 20px;
  }
 header .logo{
    width: 70px;
  }
  header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .links{
    position: relative;
    /* width: 30px; */
  }
  header .links .icon{
   
    font-size: 20px;
  }
  header .links ul::before{
    content: "";
    border-color: transparent transparent #f6f6f6 transparent;
    border-width: 10px;
    border-style: solid;
    position: absolute;
    right: 0;
    top: -20px;
    border-style: solid;

  }
  
  header .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 10px);
    display: none;
  }
  header .links:hover ul{
    display: block;
  }
  header .links ul li{
    /* padding: 20px 15px; */
  }
  header .links ul li a:hover{
    padding-left: 25px;
    transition: 0.3s;
  }
  header .links ul li a{
    text-decoration: none;
    color: #888;
    display: block;
    transition: 0.3s;
    padding: 20px 15px;
  }
header .links ul li:not(:last-child) a{
  border-bottom: 1px solid #ddd;
}
/* landing section */
.landing{
  background-image: url('../images/landing.jpg');
  background-size: cover;
  height: calc(100vh - 68px);
  display: flex;
  align-items: center;
}
.landing .innerText{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.landing h1{
  margin: 0;
  font-size: 50px;
  color: var(--main-color);
  font-weight: bold;
  text-align: center;
}
.landing p{
  font-size: 20px;
  line-height: 1.7;
  text-align: center;
}
/* features */
.features{
  padding:60px 0;
  background-color: #f6f6f6;
}
.features .container{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  gap: 20px;
}
.features .item{
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
padding: 20px;
}
.features .item i{
color:var(--main-color);
font-size:50px
}
.features .item h3{
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 20px;
  margin-top: 20px;
  
}
.features .item p{
  line-height: 1.8;
  font-size: 18px;
  color: #777;
}
/* services */
.serviceContent{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  gap: 30px;
  margin-top: 70px;
  padding: 60px 0;
}
.serviceContent .item{
  display :flex;
  margin-bottom: 40px;

}
.serviceContent .item i{
  color:var(--main-color);
  flex-basis: 60px;
  
}
.serviceContent .item .text{
  flex: 1
}
.serviceContent .item .text h3{
  margin: 0 0 20px;
}
.serviceContent .item .text p{  color: #444;
  font-weight: 300;
  line-height: 1.6;
}
@media(max-width: 767px){
  .serviceContent .item{
    flex-direction: column;
    text-align: center;
  }

}
.serviceContent .image{
  text-align: center;
  position: relative;
}
.serviceContent .image img{
  width: 260px;
}
.serviceContent .image::before{
  content: "";
  width: 100px;
    height: calc(100% + 100px);
    background-color: var(--secondary-color);
    position: absolute;
    right: 0;
    top: -50px;
    z-index: -1
}
@media (max-width:1200px){
  .serviceContent .image{
    display: none;
  }
}
/* portofolio */
.portfolio{
  background-color: #f6f6f6;
  padding: 60px 0;
}
.portfolio-content{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  gap: 30px;
  margin-top: 70px;
}
.portfolio-content .card{
  background-color: #fff;
  margin: 0 0 20px;
}
.portfolio-content .card img{
  max-width: 100%;
}
.portfolio-content .info{
  padding: 20px;
}
.portfolio-content .info h3{
  margin: 0 0 20px;
}
.portfolio-content .info p{
  color: #777;
  line-height: 1.6;
  margin-bottom: 0;
}

/* about */
.about{

  padding: 60px 0;
}
.about-content{
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
  margin-top: 70px;
}
.about-content .image{
  width: 260px;
  height: 375px;
  position: relative;
}
.about-content .image img{
  max-width: 100%;
}
.about-content .image::before{
  content: "";
  width: 100px;
    height: calc(100% + 100px);
    background-color: #ebeced;
    position: absolute;
      left: -30px;
    top: -50px;
    z-index: -1
}
.about-content .image::after{
  content: "";
  width: 120px;
  height: 300px;
  position: absolute;
  border-left: 60px solid var(--main-color);
  border-bottom: 50px solid var(--main-color);
  z-index: -1;
  right: -150px;
  top: -40px;

}
.about-content .text{
flex-basis: calc(100% - 500px);

}
.about-content .text p:first-of-type{
  font-weight: bold;
  line-height: 2;
  margin-bottom:50px;

}
.about-content .text p:last-of-type{
  line-height: 2;
  color:#777;
  margin-top: 30px;
}

.about-content .text hr{
  width: 50%;
  display: inline-block;
  border-color: var(--main-color);

}
@media(max-width:991px){
  .about .about-content{
    flex-direction: column;
  }
  .about-content .image::before,
  .about-content .image::after{
    display: none;
  }
  .about-content .image{
    margin: 0 auto 60px;
}
  
}
/* contact */
.contact{
  background-color: #f6f6f6;
  padding: 60px 0;
}
.contact .info{
  margin: 60px 0;
  text-align: center;
}
.contact .info .label{
  font-size: 30px;
  font-weight: 800;
  color: var(--secondary-color);
  margin-bottom: 15px;
  letter-spacing: -1px;
}
.contact .info .link{
  text-decoration: none;
  color:  var(--main-color);
  display: block;
  font-size: 30px;
  font-weight: 800;
  
}
.contact .social{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 1rem;
  
}
.contact .social i{
  margin-left: 10px;
  color: var(--secondary-color);
}
@media (max-width:767px){
  .contact .info .label ,
  .contact .info .link{
    font-weight: 700;
    font-size: 24px;
  }
}
/* footer */
.footer{
  background-color: var(--secondary-color);
  color: white;
  padding: 30px 10px;
  text-align: center;
  font-size: 18px;
}
.footer span{
  color: var(--main-color);
  font-weight: bold;
}